NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://yrzwujybvomjvehqvpvm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_M1m0WVeXYTY2GD-6igTTkQ_tER_jKBS

BREVO_API_KEY=
BREVO_SENDER_EMAIL=info@esf.nz
BREVO_SENDER_NAME=NZ Esports
BREVO_TEACHER_LIST_ID=15

MICROSOFT_GRAPH_TENANT_ID=
MICROSOFT_GRAPH_CLIENT_ID=
MICROSOFT_GRAPH_CLIENT_SECRET=
MICROSOFT_GRAPH_CALENDAR_ID=
MICROSOFT_GRAPH_USER_ID=
